<ion-header [translucent]="true">
  <ion-toolbar color ="tigo">
    <ion-title>Recarga Activada Tigo</ion-title>
     <ion-back-button slot="start" defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="subTigo">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <span class="show-number">{{numero}}</span>
        <span class="show-paq">{{paqTipo}}</span>
        <span class="show-des">{{paqDesc}}</span>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Digite el numero telefonico</ion-label>
          <ion-input autofocus clearInput maxlength="8" minlength="8" type="tel" [(ngModel)]="numero" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Tipo de paquete</ion-label>
          <ion-select [(ngModel)]="selectedPaq" (ionChange)="paqueteSeleccionado()" mode="ios" okText="Agregar" cancelText="Cancelar">
            <ion-select-option *ngFor="let paq of paquetes" [value]="paq">{{paq.tipo}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12" *ngIf="estado">
        <ion-item>
          <ion-label position="floating">Descripción del paquete</ion-label>
          <ion-select [(ngModel)]="selectedDes" (ionChange)="descSeleccionado()" mode="ios" okText="Agregar" cancelText="Cancelar">
            <ion-select-option *ngFor="let desPaq of paqActual; let i=index" value="{{i}}">{{desPaq}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-button color="lightTigo" (click)="realizarRecarga();" expand="full">Recargar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="fixed-bottom ion-no-border">
  <ion-toolbar color="tigo">
    <h5 class="text-center">
      <span>@PaolaHack</span>
    </h5>
  </ion-toolbar>
</ion-footer>