<ion-header [translucent]="true">
  <ion-toolbar color ="tigo">
    <ion-title>Recarga Activada Tigo</ion-title>
     <ion-back-button slot="start" defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="subTigo">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <span class="show-number">{{numero}}</span>
        <span class="show-paq">{{paqTipo}}</span>
        <span class="show-des">{{paqDesc}}</span>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Digite el numero telefonico</ion-label>
          <ion-input autofocus clearInput maxlength="8" minlength="8" type="tel" [(ngModel)]="numero" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Tipo de paquete</ion-label>
          <ion-select [(ngModel)]="selectedPaq" (ionChange)="paqueteSeleccionado()" mode="ios" okText="Agregar" cancelText="Cancelar">
            <ion-select-option *ngFor="let paq of paquetes" [value]="paq">{{paq.tipo}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12" *ngIf="estado">
        <ion-item>
          <ion-label position="floating">Descripción del paquete</ion-label>
          <ion-select [(ngModel)]="selectedDes" (ionChange)="descSeleccionado()" mode="ios" okText="Agregar" cancelText="Cancelar">
            <ion-select-option *ngFor="let desPaq of paqActual; let i=index" value="{{i}}">{{desPaq}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-button color="lightTigo" (click)="realizarRecarga();" expand="full">Recargar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- <article class="tile">       -->
        <!-- <label>ESCRIBIR NÚMERO TIGO:</label><br>
        <ion-item  lines="full">
           <ion-input  style="width:100%;font-size:22px; border: 1px solid rgb(106, 100, 255)" maxlength="8" minlength="8" name="nnn" type="tel" [(ngModel)]="numero"  required ></ion-input>
        </ion-item>
            
        <ion-item  lines="full">
          <ion-label position="floating">SELECCIONE EL TIPO:</ion-label><br>
                   
          <select style="width:100%;border: 1px solid rgb(106, 100, 255);color:#000000;font-size:28px;"  name="selel"  [(ngModel)]="select" required (change)="seleccionatipo($event.target.value)" >
              
                  <option value="1">MINUTOS</option> 
                  <option value="2">MENSAJES</option> 
                  <option value="3">INTERNET</option> 
                  <option value="4">GAMER TIGO</option> 
                  <option value="5">PLUS TIGO</option> 
                  
           </select></ion-item>
                     
           <ion-item  lines="full">
           <div *ngIf="paquet.length >= 1" >
            <ion-label position="floating">SELECCIONE EL PAQUETE:</ion-label><br>
            <select style="width:100%;border: 1px solid rgb(106, 100, 255);color:#000000;font-size:28px;" name="se2" [(ngModel)]="select2" onchange="this.style.width=200"  required (change)="seleccionapaq($event.target.value)">
            <option style="width: 40px;" *ngFor="let p of paquet; let indice=index" value="{{indice+1}}"  >{{p}}</option>
               
         </select>
        
         
         <ion-button color="tertiary" type="submit" style="width: 100%;"    expand="block" (click)="enviarpaq();limpiar()">ENVIAR</ion-button> -->
           
<!--          
        </div></ion-item>
      </article>
   <h6>Codigo:<br> {{cod}}numero*{{pin}}#</h6> -->
</ion-content>

<ion-footer class="fixed-bottom ion-no-border">
  <ion-toolbar color="tigo">
    <h5 class="text-center">
      <span>@PaolaHack</span>
    </h5>
  </ion-toolbar>
</ion-footer>