.show-number{
    display: block;
    position: relative;
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
}

.show-cost{
    display: block;
    position: relative;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}