#container {
  text-align: center;
  position: relative;
  width:100%;
}

.titulo-accion{
  font-size: 1em;
  font-weight: bold;
}

.target {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #2871FF;
  padding: 5px;
  border: 2px solid #fff;

  .info{
    h5{
      width:100%;
      text-align:left;
      font-size: 1rem;
      font-weight: bold;
      color: #002e6a;
    }
    p{
      width:100%;
      text-align:left;
      font-size: 0.9rem;
    }
  }
  
}

.caja{
  box-sizing: border-box;
  padding: 3px;
}